* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
    
}
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

#pathText {
  font-weight: bold;
  margin-bottom: 10px;

  margin-top: 10px;
}

#stats {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;

}

#fileContainer {
    margin: 10px;
    background: white;
  border-radius: 6px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  border-bottom: 1px solid #ddd;
}

.item:last-child {
  border-bottom: none;
}

.children {
  margin-left: 20px;
  border-left: 2px dashed #ccc;
  padding-left: 10px;
}

.name {
  font-weight: 500;
}

.size {
  color: #555;
}
.header {
    height: 65px;
    padding: 0 40px;
    background: #0f172a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  background: white;
  width: 420px;
  padding: 20px;
  border-radius: 8px;
  transform: scale(0.7);
  transition: transform 0.3s ease;
}

.overlay.active .modal {
  transform: scale(1);
}
.res{
  height:100px;
  width:100px;
  border:2px solid black;
  justify-content: center;
  align-items: center;
  display: flex;

}
.close {
  float: right;
  font-size: 22px;
  cursor: pointer;
}
.search-box{
  display: flex;
  align-items: center;
  height: 100px;
margin-left: 50px; 
display: flex; 


}

.search-box input{
  width: 30%;
  height: 30px;
  padding: 10px;

}
#searchBtn{
background-color: #0f172a;
  color: white;  
  margin: 10px;
  padding: 2px;
    cursor: pointer;
  border-radius: 5px;
padding: 2px;

  border:5px solid white;

}
#searchBtn:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.entire-searchbtn{
background-color: #004cff;
  color: white;  
  margin: 10px;
  padding: 2px;
  border-radius: 5px;
  padding: 2px;

}