* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  
}

.top{
    height: 100vh;
}

.header {
  width: 100%;
  height: 70px;
  background: #02e5f5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  font-size: 22px;
  font-weight: bold;
}

.log-sign {
  margin: 0;
}

.container {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.container button {
  padding: 8px 18px;
  margin-left: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.signup {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.login {
  background: #000000;
  color: white;
  font-weight: bold;
}


.signup-page,
.Login-page {
  display: none;
  margin-top: 40px;
  width: 340px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  flex-direction: column;
  animation: fade 0.4s ease;
    position: fixed;             
  top: 20%;
  left: 40%;
}


.signup-page h2,
.Login-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.signup-page label,
.Login-page label {
  font-size: 14px;
  margin-bottom: 4px;
  color: #444;
}

.signup-page input,
.Login-page input {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.signup-page input:focus,
.Login-page input:focus {
  border-color: #66eae3;
  box-shadow: 0 0 0 2px rgba(102,126,234,0.2);
}
#login{
    background-color: #8d9de4;
    padding: 10px;
      border-radius: 6px;
      color: white;

}
#signup{
     background-color: #8d9de4;
    padding: 10px;
      border-radius: 6px;
      color: white;

}